{% extends 'base.html' %}
{% load static %}
{% block title %}E-Shop{% endblock title %}
{% block content %}

<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-modal">
                    <span id="search-icon-modal" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
</div>
<!-- Single Page Header End   -->

<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Fresh FISH shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <form action="{% url 'shop:search' %}" method="GET">
                            <div class="input-group w-100 mx-auto d-flex">
                                <input type="search" name="keyword" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <button type="submit" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            {% comment %} <label for="categories">Categories:</label> {% endcomment %}
                            <select id="categories" name="categorylist" class="border-0 form-select-sm bg-light me-3" onchange="window.location.href=this.value">
                                {% if category_slug %}
                                    <option value="{% url 'shop:shop' %}" disabled selected>{{ category_slug|title }}</option>
                                {% else %}
                                    <option value="{% url 'shop:shop' %}" selected>Select Categories</option>
                                {% endif %}
                                
                                <option value="{% url 'shop:shop' %}">All Categories</option>
                                {% for category in categories %}
                                    <option value="{{ category.get_category_slug_url }}" 
                                        {% if category_slug == category.slug %}selected{% endif %}>
                                        {{ category.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    {% if category_slug %}
                                    <h2 style="color:#f4cca4;text-transform: capitalize;">{{ category_slug }}</h2>
                                    {% else %}
                                    <h4>Categories</h4>
                                    {% endif %}
                                    {% if category_slug %}
                                    <ul class="list-unstyled fruite-categorie">
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="#"><i class="fas fa-apple-alt me-2"></i>{{ category_slug }}</a>
                                                <span>(3)</span>
                                            </div>
                                        </li>
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            {% for product in products %}
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <div class="rounded position-relative fruite-item">
                                    <div class="fruite-img">
                                        <a href="{{ product.get_prodcut_details_url }}"><img src="{{ product.image.url }}" class="img-fluid w-100 rounded-top" alt=""></a>
                                    </div>
                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                        <h4><a href="{{ product.get_prodcut_details_url }}">{{ product.name }}</a></h4>
                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                            <p class="text-dark fs-5 fw-bold mb-0">₹{{ product.price }}</p>
                                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    <!-- Previous Page -->
                                    {% if products.has_previous %}
                                        <a href="?page={{ products.previous_page_number }}" class="rounded">&laquo;</a>
                                    {% else %}
                                        <a href="#" class="rounded disabled">&laquo;</a>
                                    {% endif %}
                            
                                    <!-- Page Numbers -->
                                    {% for x in products.paginator.page_range %}
                                        {% if products.number == x %}
                                            <a href="#" class="active rounded">{{ x }}</a>
                                        {% else %}
                                            <a href="?page={{ x }}" class="rounded">{{ x }}</a>
                                        {% endif %}
                                    {% endfor %}
                            
                                    <!-- Next Page -->
                                    {% if products.has_next %}
                                        <a href="?page={{ products.next_page_number }}" class="rounded">&raquo;</a>
                                    {% else %}
                                        <a href="#" class="rounded disabled">&raquo;</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->

{% endblock content %}
